{% extends 'layout.html' %}

{% block container %}
    <div class="section container">
        <div class="row card-panel" >
            <h5 class="center teal-text">Eliminar un telefono por su modelo</h5>
            <div class="container">
                <div class="col s12 ">
                    <form action="{{ url_for('delete') }}" method="post">
                        <div class="input-field col s12 whtie-text">
                            <input type="text" id="m" name="modelo" class="blue-grey-text" >
                            <label for="m" class="teal-text">Modelo</label>
                        </div>

                        <div class="col s12 center">
                            <input type="submit" class="btn" value="Eliminar">
                            <a href="{{ url_for('inicio') }}" class="btn grey">Atras</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}